<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="../css/font-awesome.min.css"> <!-- load fontawesome -->

    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span>   AirFlow Device Control</h1>

		<p>Touchpanel , Login or Signup into:</p>
        <a href="/touch" class="btn btn-default"><span class="fa fa-user"></span> Touch</a>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

	</div>

</div>
</body>
</html>